<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app/css/style.css">
</head>
<body>
    <box>
        <div class="box__container">
            <div class="box__brand">
                <div class="box__brand--left">
                    <div class="brand__left--img">
                        <img src="app/img/ic_round-medical-services.png">
                    </div>
                    <div class="brand__left--title">Tủ thuốc gia đình</div>
                </div>
                <div class="box__brand--right">
                    <img src="app/img/image 17.png">
                </div>
            </div>
            <div class="box__layout">
                <div class="box__layout--content">
                    <div class="layout__content--img">
                        <img src="app/img/image 5.png">
                    </div>
                    <div class="layout__content--title">TDPVSK Kim Não Khang</div>
                    <div class="layout__content--card">
                        Không còn đau đầu, chóng mặt, mất ngủ. Chiết xuất từ thảo dược 100% thiên nhiên
                    </div>
                    <div class="layout__content--rectangle">
                        <p>TÌM HIỂU NGAY</p>
                    </div>
                </div>
            </div>
            <div class="box__footer">
                <div class="box__footer--rectangle">
                </div>
                <div class="box__footer--notice">
                    <b>Khuyến cáo: </b>Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh
                </div>
            </div>
            <button class="btn" onclick="prev()">Prev</button>
			<button class="btn" onclick="next()">Next</button>
        </div>
        <script src="/layout/app/scripts/app.js"></script>
    </box>
</body>
</html>